{% extends "global/Page.html" %}

{% block title %}
    Compound Interest
{% endblock %}

{% block content %}
    <p>
        The following questions cover the compound interest effect. For questions 1 and 4, you have to manually type a number in the respective field. Questions 2 and 3 are single-choice questions with three options, where exactly one is correct.
    </p>
    <p>Each correct answer contributes X € to your remuneration.</p>
    
    <hr>
    
    <div><b>Question 1:</b> {{ formfield 'compound_q1' }}</div>
    <div><b>Question 2:</b> {{ formfield 'compound_q2' }}</div>
    <div><b>Question 3:</b> {{ formfield 'compound_q3' }}</div>
    <div><b>Question 4:</b> {{ formfield 'compound_q4' }}</div>
    
    {{ next_button }}
{% endblock %}


