{% extends "global/Page.html" %}

{% block title %}Follow-up Question{% endblock %}

{% block content %}

{{ form.food_price_estimate_6.label }}
<div class="input-group mb-3">
    <input type="number" step="0.01" class="form-control" aria-label="estimate" aria-describedby="basic-addon1" name="food_price_estimate_6" id="id_food_price_estimate_6">
    <span class="input-group-text" id="basic-addon1">%</span>
</div>

{{ formfield_errors 'food_price_estimate_6' }}

{{ next_button }}
{% endblock %}


